absl-py==1.0.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
cached-property==1.5.2
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
cycler==0.10.0
Cython==0.29.24
debugpy==1.6.3
decorator==4.3.0
deepdish==0.3.7
defusedxml==0.7.1
dlib==19.22.1
dominate==2.6.0
einops==0.4.1
entrypoints==0.4
fasteners==0.16.3
fastjsonschema==2.16.1
fjcommon==0.1.69
ftfy==6.1.1
future==0.18.2
fvcore==0.1.5.post20211019
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grad-cam==1.4.5
grpcio==1.46.3
h5py==3.5.0
hypertools==0.5.1
idna==3.3
imageio==2.9.0
importlib-metadata==4.11.4
importlib-resources==5.9.0
iopath==0.1.9
ipykernel==6.15.2
ipython==7.34.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.10
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.15.0
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter_client==7.3.5
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.1
kiwisolver==1.3.2
leveldb==0.201
llvmlite==0.37.0
lmdb==1.2.1
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.6
mistune==2.0.4
monai==0.9.1
nbclassic==0.4.3
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
nose==1.3.7
notebook==6.4.12
notebook-shim==0.1.0
numba==0.41.0
numexpr==2.7.3
numpy==1.21.3
oauthlib==3.2.0
opencv-python==4.5.3.56
packaging==21.0
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkgutil_resolve_name==1.3.10
portalocker==2.3.2
ppca==0.0.4
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.19.0
psutil==5.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycurl==7.43.0
Pygments==2.13.0
PyGObject==3.20.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-apt==1.1.0b1+ubuntu0.16.4.12
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==23.2.1
regex==2022.8.17
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.18.3
scikit-learn==1.0
scikit-video==1.1.11
scipy==1.7.1
seaborn==0.9.0
Send2Trash==1.8.0
setproctitle==1.2.2
six==1.16.0
sklearn==0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
tables==3.6.1
tabulate==0.8.9
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==1.4
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.0.0
tifffile==2021.10.12
timm==0.5.4
tinycss2==1.1.1
torch @ https://download.pytorch.org/whl/cu110/torch-1.7.1%2Bcu110-cp37-cp37m-linux_x86_64.whl
torchfile==0.1.0
torchvision @ https://download.pytorch.org/whl/cu110/torchvision-0.8.2%2Bcu110-cp37-cp37m-linux_x86_64.whl
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
ttach==0.0.3
typing-extensions==3.10.0.2
umap-learn==0.3.10
urllib3==1.26.7
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.1.2
yacs==0.1.8
zipp==3.8.0
